<div class="container">
  <h1>Dnevniki obiskov</h1>

  <p *ngIf="currentVisit">
    <strong>Trenutni obisk:</strong>
    ob času {{ formatToGMT1(currentVisit!.timestamp) }}.
    IP naslov prejšnjega obiska: {{ currentVisit!.ip }}<br><br>
  </p>
  
  <p><strong>Skupno število obiskov:</strong> {{ visitCount }}</p>

  <button (click)="deleteVisits()">Izbriši vse obiske</button>

  <h3>Pretekli obiski:</h3>
  <ul class="visit-list">
    <li *ngFor="let visit of visits" class="visit-item">
      <span class="time">{{ formatToGMT1(visit.timestamp) }}</span>
      <span class="ip">ip prejšnjega obiska: {{ visit.ip }}</span>
    </li>
  </ul>

</div>